<div class="font-operator">
   <span class="s-btn-icon font-bold"
          ng-click="minder.queryCommandState('bold') === -1 || minder.execCommand('bold')"
          ng-class="{'font-bold-selected' : minder.queryCommandState('bold') == 1}"
          ng-disabled="minder.queryCommandState('bold') === -1">
    </span>
    <div class="font-color-wrap">
        <span class="quick-font-color"
              ng-click="minder.queryCommandState('forecolor') === -1 || minder.execCommand('forecolor', foreColor)"
              ng-disabled="minder.queryCommandState('forecolor') === -1">A</span>
		<span color-picker
              class="font-color"
              set-color="setDefaultColor()"
              ng-disabled="minder.queryCommandState('forecolor') === -1">
            <span class="caret"></span>
        </span>
        <span class="font-color-preview"
              ng-style="{ 'background-color': foreColor }"
              ng-click="minder.queryCommandState('forecolor') === -1 || minder.execCommand('forecolor', foreColor)"
              ng-disabled="minder.queryCommandState('forecolor') === -1"></span>

    </div>
    <color-panel minder="minder" class="inline-directive"></color-panel>

</div>
